<div class="container" fxLayout fxLayoutAlign="center center">

  <mat-card>
    <mat-card-title>
      <div class="header-item">
          <img src="assets/Beaver-Logo-White.svg" alt="Kiwi standing on oval">
      </div>
      <h2 class="title-text">HELLO</h2>
      <h3 class="intro-text">We are a digital agency specialising in digital signage, web, mobile and interactive solutions. We'd love to help you too.</h3>
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
    
    <mat-card-actions >
     
    </mat-card-actions>

  </mat-card>
</div>
