@import "src/styles.scss";



.form-item{
    margin-top:20px;
    width:350px;
}

mat-card-actions{
    button{
        width:350px;
        padding:10px;
        font-size:18px
    }
    padding-top:80px;

}





