<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
  crossorigin="anonymous">
<div class="container" fxLayout fxLayoutAlign="center center">

  <mat-card>
    <mat-card-title>
      <div class="header-item">
        <img src="assets/Beaver-Logo-White.svg" alt="Kiwi standing on oval">
      </div>
      <h2 class="title-text">THANK YOU</h2>
      <div fxLayoutAlign="center center">
        <i class="far fa-smile"></i>
      </div>
      <h3 class="intro-text padding">
        Thanks for taking the time to contact us. We have received your enquiry and will be in touch soon.
      </h3>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center center">


    </mat-card-content>




  </mat-card>
</div>
